*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

body {
  background-image: url('https://lh3.googleusercontent.com/fife/AAWUweWsbFg1XutShi4bR9QgHO3-JT1j-Oo8zsW9IrvTz3hIa98hKZONsvJfqNdTOwcPswlthQKAf-m2e3Tj7Tvk-Py1-nltRxo6XcwPO5Y6vjxUyC3hAYLL0cfwCZYGiETAXHFAM7j4Y7W9dDIqx1DsR_-A5qSwzjBPhKoj3w1qzdiHG_DBePtToXfWazUO3zTScnKj5mFhN89WbnzaikIS2HAflZLNvWnBOwccSHOnJ0aHqNxPE-TudhX-EbpSJ2FJoThxo6NzxEECwrR9k_NJAGSPzP6H4EHgNPSNmRQ525c3758IERcZ5NZcDFF4tTc1bDSbuchyGuCgZuAnJuuI7cyIAPPl06mhoPwuENs8AXcYbTSxb5hbM4rUs0SKG8c9njg-qKc_1hIElF0d5nv7BDvLrJ4NaBx-OEbCwNQtCbLPohcI0D6hQ3ZokPUPh739Eub1imz42tCmWzFM1IQ8jsQAU4M76A4eCLXxh2O3Skizv3ANiZE7JaCBoT6P4TQoJctA87vuAEVJiS4Dbs7YAN8jr5-CUi9Rec6Z2JwE8Ot2RNCiCJK_3K7jMhaoE303qCiyZLg0eAsG6xafyIB04Tt8Wmi-b1qX1mU6Qe9iSNc5hAbIJfvC6Xj_a7jWwqdcfyc178quKIWMbpQ2pCPP4jwnMo8Z_RBuV0A-IiVC0vZhCWvgzdFUNKe7f3FMESahmM2Y7O1TdzSoqsRBTb8ip1V_9n2dwVWJJAA=w1920-h937-ft');
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  padding: 10px;
  align-items: center;
  display: flex;
}

.card_image {
  max-height: 250px;
  max-width: 300px;
  position: relative;
  
}

.card_image img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 2px 0px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px 1rem 10px;
  border-radius: 16px;
  height: fit-content;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_content {
  padding: 0.1rem 0;
}


.main{
  display: inline-block;
  position: relative;
   
  /* margin-left:50px; */
  /* width:29%; */
}
span{
  float: right; 
  font-size:30px;
  padding-top:30px; 
}
.card_text{
  font-size:20px;
  padding-top:10px; 
}
a{
  text-decoration: none;
  color: black;
}
.btn{
  background-color: white;
  border:white;
}
.card_title{
  text-align: left;
  float: left;  
}
span:hover{
  transform: translateY(-5px);
}

.card:hover{
  transform: translateY(-5px);
}